/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1a202c;
  background-color: #f7fafc;
}

button {
  border: none;
}

a {
  color: #3490dc;
  text-decoration: none;
}
a:hover {
  color: #2779bd;
}
a:visited {
  color: #6366f1;
}

ul {
  list-style-type: none;
}
